<!DOCTYPE html>
<%- include('../views/partials/head') %> 
<link rel = "stylesheet" href="/css/detalleProducto.css">
<script src="/js/script.js"></script>
<body>
        <%- include('../views/partials/header') %> 
    <main>
    <div class="producto">
    <% if(product != undefined){ %> 
    <img id="imagen" src="<%= product.image %> ">
    <div class="datos">
    <h2 id="nombreProducto"><%= product.name %> </h2>
    <h4 id= "descripcion"><%= product.description %> </h4>
    <h5 id="precio"> $ <%= product.price %> </h5>
    <% } %> 
    </div>
    <section id="botones">
  

        

    <button type="button"><i class="fas fa-plus"></i></button><span>15</span><button type="button"><i class="fas fa-minus"></i></button>
    <div class="mainFlex">
       <a href=""><div class="carrito"><i id="botonCarrito"class="fas fa-cart-plus"></i></div></a>
    <a href="/products/<%= product.id%>/editar ">
        <div id="editar"><i id="botonEditar"class="far fa-edit"></i></div></a></div>
    <form action="/products/<%=product.id%>?_method=DELETE"  method="POST">
    <button type="submit" id="eliminar">Eliminar Producto</button>
    </form>
</section>
    </div>
    <h3>Productos relacionados</h3>
    <div class="relacionados">
    <% for(let i=0; i<products.length;i++){%>
    <% if(products[i].id<=4){ %> 
    <% if(products[i].id != product.id){ %>  
    <img src="<%= products[i].image %> ">
    <% } %> 
    <% } %>
    <% } %>  
    </div>
    </main>
</body>
<%- include('../views/partials/footer') %>  
